*.log
*.lo
*.o
.deps/
.gitignore
.libs/
*.la
Makefile
Makefile.in
autom4te.cache/
compile
config.guess
config.h.in
config.h
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1

